.admin.articles {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
	margin: 10px;
	align-items: center;
}

.button-container {
	display: flex;
	justify-content: space-between;
}

.admin-wrapper {
	background-color: midnightblue;
	min-height: 100vh;
}

/* 
	position: relative;
	height: auto;
	min-height: 100% !important; */
