@import url('_variables.css');

header{
    width: 100%;
}

.navbar{
    display: flex;
    background-color: white;
}


.navbar-nav li {
    display: block;
    line-height: 22px;
    padding: 20px 12px;
    text-transform: capitalize;
}


.post-image {
    max-width: 100%;
    height: auto;
}

.single-post{
min-width: 18rem;
}