@import url("_variables.css");

header {
	width: 100%;
}

.navbar {
	display: flex;
	background-color: white;
}

.navbar-nav li {
	display: block;
	line-height: 22px;
	padding: 20px 12px;
	text-transform: capitalize;
}

.post-image {
	max-width: 100%;
	max-height: 100px;
}

.single-post {
	min-width: 18rem;
}

.post-container {
	margin-left: 15%;
	margin-right: 15%;
	height: 200px;
}

.header-wrapper {
}

.category-link {
	margin-right: 25px;
}

.category-options {
	font-size: 20px;
}

.navbar-brand {
	font-size: 50px;
}

.nav-text {
	color: yellow;
}

.top-nav {
	margin-right: auto;
}

.top-button {
	margin-right: 10px;
}
