@import url('./styles/_registration.css');
@import url("./styles/_variables.css");
@import url("./styles/_homepage.css");
@import url("./styles/_login-form.css");
@import url("./styles/_login-registration.css");

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;

}

body {
  background: var(--primary-color);
  color: var(--primary-color);
  font-family: var(--highlight);
  font-size: 15px;
  line-height: 1.55; 
  margin: 0;
  height: 100%;
}


li {
  list-style: none;
}

.flexbox{
  display: flex;
}

